In [ ]:
list_idades = [39,30,27,18]
print(list_idades)

[39, 30, 27, 18]

In [ ]:
# Adicionando um elemento no final da minha lista
list_idades.append(19)

In [ ]:
list_idades

[39, 30, 27, 18, 19]

In [ ]:
for idade in list_idades:
  print(idade)

39
30
27
18
19

In [ ]:
# Removendo elemento com base no que é passado
list_idades.remove(30)

In [ ]:
list_idades

[39, 27, 18, 19]

In [ ]:
# Verificando se o elemento está na lista
27 in list_idades

True

In [ ]:
# Inserindo um elemento em um indice
list_idades.insert(0, 44)
list_idades

[44, 39, 27, 18, 19]

In [ ]:
# Deletando de um idice até outro
del list_idades[6:]
# Extendendo nossa lista
# list_idades.extend([30,28])
list_idades

[44, 39, 27, 18, 19]

In [ ]:
for idade in list_idades:
  print(idade + 1)

45
40
28
19
20

In [ ]:
idades_no_ano_que_vem = []
for idade in list_idades:
  idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[45, 40, 28, 19, 20]

In [ ]:
idades_no_ano_que_vem = [(idade + 1) for idade in list_idades]
idades_no_ano_que_vem

[45, 40, 28, 19, 20]

In [ ]:
lista_maior_18 = [(idade) for idade in idades_no_ano_que_vem if (idade > 18 and idade < 40)]
lista_maior_18

[28, 19, 20]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))

In [ ]:
faz_processamento_de_visualizacao(lista_maior_18)

3

In [ ]:
# Boa pratica para trabalhar com valores mutaveis em funções e evitar efeitos colaterais
def faz_processamento_de_visualizacao(lista = None):
  if (lista == None):
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

# Isso é evita que o valor da lista seja armazenado e a cada iteração gere
# Um resultado não esperado
# Tomar esse cuidado com lista e objetos mutaveis

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

0
[]

# Objetos Próprios

In [ ]:
class ContaCorrente():
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return f"[>>Código {self.codigo} Saldo {self.saldo}<<]"

In [ ]:
conta_kawhan = ContaCorrente(15)
print(conta_kawhan)

[>>Código 15 Saldo 0<<]

In [ ]:
conta_kawhan.deposita(500)
print(conta_kawhan)

[>>Código 15 Saldo 500<<]

In [ ]:
conta_kawhana = ContaCorrente(4000)
conta_kawhana.deposita(1000)
print(conta_kawhana)

[>>Código 4000 Saldo 1000<<]

In [ ]:
contas = [conta_kawhana, conta_kawhan]
for conta in contas:
  print(conta)

[>>Código 4000 Saldo 1000<<]
[>>Código 15 Saldo 500<<]

In [ ]:
# Você criou apenas 2 objetos então quando armazenas eles em uma lista
# Mudar os valores ele vai mudar nos 2 porque você instanciou os objetos apenas 1 vez
contas = [conta_kawhan, conta_kawhana, conta_kawhan]

In [ ]:
conta_kawhan.deposita(100)

In [ ]:
print(contas[0])
print(contas[2])

[>>Código 15 Saldo 600<<]
[>>Código 15 Saldo 600<<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)
contas = [conta_kawhan, conta_kawhana]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Código 15 Saldo 800<<] [>>Código 4000 Saldo 1200<<]
[>>Código 15 Saldo 900<<] [>>Código 4000 Saldo 1300<<]

In [ ]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Código 15 Saldo 900<<] [>>Código 4000 Saldo 1300<<]

In [ ]:
# Quando eu tenho um número de espaços fixos desde o momento que iniciei utilizamos tupla
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)

In [ ]:
def deposita(conta): # variação "funcional" (separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

conta_do_gui = (15, 1000)
print(conta_do_gui)
conta_do_gui = deposita(conta_do_gui)
print(conta_do_gui)

(15, 1000)
(15, 1100)

In [ ]:
# Lista de tuplas
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [ ]:
usuarios.append(('Paulo', 39, 1979))

In [ ]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(4000)
conta_da_dani.deposita(1000)

#Tupla de contas(Objetos)
# Os objetos da tupla por serem referencias são mutaveis
contas = (conta_do_gui, conta_da_dani)
# Como é por referencia o valor dos objetos podem ser mudados

contas

(<__main__.ContaCorrente at 0x7f9ffaa5a350>,
 <__main__.ContaCorrente at 0x7f9ffaa5a910>)

#Listas e polimorfismo
## Herança e polimorfismo

In [ ]:
from abc import abstractmethod, ABCMeta
class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    pass
  
  def __str__(self):
    return f"[>>Código {self._codigo} Saldo {self._saldo}<<]"

In [ ]:
print(Conta(88))

TypeError: ignored

In [ ]:
# Temos duas outras classes que Herdam conta e fazem operações diferentes

class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Código 16 Saldo 998<<]

In [ ]:
conta17 = ContaPoupanca(16)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Código 16 Saldo 1007.0<<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)

conta17 = ContaPoupanca(16)
conta17.deposita(1000)
contas = [conta16, conta17]

# Não importa na lista se eu tenho conta corrente ou conta poupança
# O que importa é que tenha passado o mes
for conta in contas:
  conta.passa_o_mes() # duck typing se ele responde ao passa o mes, passa o mes sim
  print(conta)

[>>Código 16 Saldo 998<<]
[>>Código 16 Saldo 1007.0<<]

# Evitamos de usar array puro, se precisamos de trabalho numérico costume usar o numpy

In [ ]:
# Array padrão do python ele é super especifico
import array as arr

# Quero criar um array com tipos especificos relativos a ponto flutuante
# Depois eu passo uma lista com os números
# Array é para você ter uma eficacia maior quando estiver trabalhando com números
# Todos os elementos tem de ser desse tipo, que estão dentro da lista
# Onde é importante o alto desempenho de funções matematicas usamos o Numpy
arr.array('d', [1.0, 3.5])

array('d', [1.0, 3.5])

In [ ]:
import numpy as np

# Crio um array passando valores
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
# Se eu somar 3 nesses números eu vou ta somando 3 em todos
numeros += 3
print(numeros)

[4.  6.5]

# Método abstrato

In [ ]:
# Se você tem um método na sua classe mae e você quer que todos sejam forçados a implementar
# Utilizamos um abstract method 


from abc import abstractmethod, ABCMeta

class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    pass
  
  def __str__(self):
    return f"[>>Código {self._codigo} Saldo {self._saldo}<<]"

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class contaInvestimento(Conta):
  pass

# Igualdade e o "__eq__"

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo: {self._codigo} | Saldo: {self._saldo} <<]"

  # Meu quesito de igualdade pode mudar
  def __eq__(self, outro):
    return self._codigo == outro._codigo

In [ ]:
conta_1 = ContaSalario(37)
print(conta_1)

[>>Codigo: 37 | Saldo: 0 <<]

In [ ]:
conta_2 = ContaSalario(37)

In [ ]:
# Por padrão o == vai retornar true se no caso as variaveis estiverem referenciando
# Os mesmos objetos
conta_1 == conta_2

True

In [ ]:
# Quando mudamos a classe mae no jupiter é recomendado reiniciar os objetos de novo
conta_1 = ContaSalario(37)
conta_2 = ContaSalario(37)

conta_1 == conta_2

True

In [ ]:
conta_1 in [conta_2]
conta_2 in [conta_1]

True

In [ ]:
# é importante complementar seu eq com mais verificações
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo: {self._codigo} | Saldo: {self._saldo} <<]"

  # Meu quesito de igualdade pode mudar
  def __eq__(self, outro):
    # Verificando o tipo da nossa variavel
    # é comum fazer isso antes
    if (type(outro) !=  ContaSalario):
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

In [ ]:
conta_1 = ContaSalario(37)
conta_2 = ContaSalario(37)

conta_1 == conta_2

True

In [ ]:
conta_1.deposita(10)

In [ ]:
conta_1 == conta_2

False

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

conta1 == conta2

False

In [ ]:
# Posso também ter a verificação de conta de classes que herdam de conta salario

# é importante complementar seu eq com mais verificações
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo: {self._codigo} | Saldo: {self._saldo} <<]"

  # Meu quesito de igualdade pode mudar
  def __eq__(self, outro):
    # Verificando o tipo da nossa variavel
    # é comum fazer isso antes
    # verificando se é uma instancia
    if (not isinstance(outro, ContaSalario)):
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
# Verificando uma instancia
# Um objeto do tipo filho é uma instancia de seu pai tmb


conta_3 = ContaMultiploSalario(37)
conta_2 = ContaSalario(37)

In [ ]:
conta_2 == conta_3

True

# Builtins como enumerated, range e desempacotamento automatico de tuplas

In [ ]:
idades = [15, 87, 65, 56, 32, 49, 37, 32]

In [ ]:
for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 65
3 56
4 32
5 49
6 37
7 32

In [ ]:
range(len(idades)) # lazy...

range(0, 8)

In [ ]:
enumerate(idades) # lazy...

In [ ]:
list(range(len(idades))) # forcei a geração

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37), (7, 32)]

In [ ]:
# Posso desempacotar minha tupla do jeito que eu quero
for indice, valor in enumerate(idades): # Unpacking da minha tupla
  print(f"Indice: {indice}, Idade: {valor}")

Indice: 0, Idade: 15
Indice: 1, Idade: 87
Indice: 2, Idade: 65
Indice: 3, Idade: 56
Indice: 4, Idade: 32
Indice: 5, Idade: 49
Indice: 6, Idade: 37
Indice: 7, Idade: 32

In [ ]:
usuarios = [
            ("Guilherme", 37, 1981),
            ("Daniela", 31, 1987),
            ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: # Posso desempacotar tudo e usar no print somente o que quero
  print(nome)

Guilherme
Daniela
Paulo

In [ ]:
for nome, _, _ in usuarios: # Posso desempacotar só o que quero usando _
  print(nome)

Guilherme
Daniela
Paulo

# Ordenação básica

In [ ]:
sorted(idades) # Ordena

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
list(reversed(idades)) # reverte a ordem da sequencia,

[32, 37, 49, 32, 56, 65, 87, 15]

In [ ]:
sorted(idades, reverse=True) # Invertendo com sorted,o sorted já devolve a lista completa invertida

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
list(reversed(sorted(idades))) # Invertendo mas indo devagar

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades.sort() # Tomar cuidado porque isso muda a lista inicial ordenando

In [ ]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

# Ordenação de objetos sem ordem natural

In [ ]:
# String também possuem uma ordem que chamamos de ordem natural

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo: {self._codigo} | Saldo: {self._saldo} <<]"

  def __eq__(self, outro):
    if (not isinstance(outro, ContaSalario)):
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(13)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo: 17 | Saldo: 500 <<]
[>>Codigo: 3 | Saldo: 500 <<]
[>>Codigo: 13 | Saldo: 510 <<]

In [ ]:
sorted(contas)

TypeError: ignored

In [ ]:
# Eu tenho de passar como vai ser a ordenação dessa lista de objetos
# Então eu decidi que vou ordenar pelo saldo
# Posso fazer uma função que vai retornar o saldo que vai servir de chave para ordenação

def extrai_saldo(conta):
  return conta._saldo
  # Usar o key para acessar um objeto privado é muito feio
  # Reduza seu valor a um objeto comparavel

contas_ordenadas = sorted(contas, key=extrai_saldo)

In [ ]:
for conta in contas_ordenadas:
  print(conta)

[>>Codigo: 17 | Saldo: 500 <<]
[>>Codigo: 3 | Saldo: 500 <<]
[>>Codigo: 13 | Saldo: 510 <<]

In [ ]:
# ele pega um atributo da nossa classe
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo: 17 | Saldo: 500 <<]
[>>Codigo: 3 | Saldo: 500 <<]
[>>Codigo: 13 | Saldo: 510 <<]

# Implementando o __lt__

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo: {self._codigo} | Saldo: {self._saldo} <<]"

  def __eq__(self, outro):
    if (not isinstance(outro, ContaSalario)):
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  # Criando o operador de <, ou atribuindo essa comparação para nossa classe
  def __lt__(self,outro):
    return self._saldo < outro._saldo
  

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(510)

conta_do_paulo = ContaSalario(13)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme < conta_da_daniela

True

In [ ]:
conta_do_guilherme > conta_da_daniela

False

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo: 17 | Saldo: 500 <<]
[>>Codigo: 3 | Saldo: 510 <<]
[>>Codigo: 13 | Saldo: 510 <<]

# Ordenação completa e functools

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme < conta_da_daniela

False

In [ ]:
# Quero ordenar quando as contas possuem o mesmo saldo pelo id
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo: 3 | Saldo: 500 <<]
[>>Codigo: 133 | Saldo: 500 <<]
[>>Codigo: 1700 | Saldo: 500 <<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(530)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
# Quero ordenar quando as contas possuem o mesmo saldo pelo id
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo: 133 | Saldo: 500 <<]
[>>Codigo: 1700 | Saldo: 500 <<]
[>>Codigo: 3 | Saldo: 530 <<]

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo: {self._codigo} | Saldo: {self._saldo} <<]"

  def __eq__(self, outro):
    if (not isinstance(outro, ContaSalario)):
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  # Criando o operador de <, ou atribuindo essa comparação para nossa classe
  def __lt__(self,outro):
    # comparando no caso de saldos diferentes
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    # Se os saldos foram iguais eu faço a condição apartir do codigo
    return self._codigo < outro._codigo

  

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo: 3 | Saldo: 500 <<]
[>>Codigo: 133 | Saldo: 500 <<]
[>>Codigo: 1700 | Saldo: 500 <<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo: 133 | Saldo: 500 <<]
[>>Codigo: 1700 | Saldo: 500 <<]
[>>Codigo: 3 | Saldo: 1000 <<]

In [ ]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [ ]:
# implementar o <= 

from functools import total_ordering

@total_ordering
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo: {self._codigo} | Saldo: {self._saldo} <<]"

  def __eq__(self, outro):
    if (not isinstance(outro, ContaSalario)):
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  # Criando o operador de <, ou atribuindo essa comparação para nossa classe
  def __lt__(self,outro):
    # comparando no caso de saldos diferentes
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    # Se os saldos foram iguais eu faço a condição apartir do codigo
    return self._codigo < outro._codigo

  

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme <= conta_da_daniela

True